body {
	background: #ffffff;
	font-family: Tahoma, Arial;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.redbox  {
	border: 1px solid red;
}

#container  {
	clear: both;
	width: 900px;
}

#header {
	height: 40px;
	background: #c0c0c0;
	padding: 40px 0 0 220px;
}

#left {
	float: left;
	width: 14%;
	margin-right: 1%;
}

#left ul   {
	padding: 0;
}

#left ul li  {
	display: inline;
	background: #c0c0c0;
	list-style-type: none;
}

#left ul.menu li  a {
	display: block;
	padding: 10px 0 10px 40px;
	background: #000000;
	color: #ffffff;
	text-decoration: none;
}

#left ul.menu li  a:hover {
	display: block;
	padding: 10px 0 10px 40px;
	background: #ffffff;
	color: #000000;
	text-decoration: none;
}



#content {
	float: left;
	width: 85%;
	text-align: justify;
}

#footer {
	margin-top: 10px;
	float: left;
	width: 100%;
	border-top: 1px solid black;
	text-align: right;
	font-size: 12px;
}

#header ul.menu li {
	display: inline;
}

#header ul.menu {
	padding: 0;
	margin: 0;
}



#header ul.menu li  a {
	display: block;
	float: left;
	width: 150px;
	height: 31px;
	background: #000000;
	color: #ffffff;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
	padding: 9px 10px 0px 10px;
}

#header ul.menu li a:hover {
	color: #000000;
	background: #ffffff;
	text-decoration: none;
}

